<% config = Spree::BestSellersConfiguration.new %>
<% if (config.has_preference?(:show_best_sellers_sidebar) && config[:show_best_sellers_sidebar]) && @best_sellers.present? %>
    <div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md">
      <div class="no-padding">
        <span class="title"><%=Spree.t('best_sellers.title')%></span>
      </div>
      <ul class="best-sellers-list list-group">
        <% @best_sellers.each do |product| %>
            <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
            <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
              <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
                  <%= link_to product_image(product, itemprop: "image"), url, itemprop: 'url', class: "link-p" %>
                  <div class="caption prod-caption">
                    <h4><%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %></h4>
                    <% if product.description.present? %>
                        <p><%= (truncate(strip_tags(product.description), length: 100)).html_safe %></p>
                    <% end %>
                    <div class="btn-group">
                      <div class="pull-right">
                        <%= link_to url, class: "btn btn-primary"  do %>
                            <i class="fa fa-shopping-cart"></i>
                            <%=Spree.t('buttons.buy')%>
                        <% end %>
                      </div>
                      <div class="pull-right">
                        <a href="#" class="btn btn-default" itemprop="price">
                          <%= display_price(product) %>
                        </a>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </ul>
    </div>
<% end %>